<div class="wrapper style1 first">
    <article class="container" id="top">
        <div class="row">
            <div class="4u 12u(mobile)">
                <span class="image fit"><img src="images/Dave.jpg" alt="" /></span>
            </div>
            <div class="8u 12u(mobile)">
                <header>
                    <!-- http://textillate.js.org/-->
                    <h1 class="tlt" data-in-effect="rollIn">Hi. I'm <strong>Dave</strong>.</h1>
                </header>
                <p>And this is <strong>Coding Training</strong>.Let's learn some cool stuff.</p>
                <a href="#work" class="button big scrolly">Learn about what I do</a>
    
            </div>
        </div>
    </article>
    <script>
$(document).ready(function () {
	$('.tlt').textillate();
});

    </script>
</div>