<div class="wrapper style2">
    <article id="work">
        <header>
            <h2>The Blues Demo</h2>
        </header>
        <div class="container">
           <p data-height="800" data-theme-id="light" data-slug-hash="zNzvOm" data-default-tab="result" data-user="gregh" data-embed-version="2" data-pen-title="The Bluesman - You Can Play The Blues (Web Audio API)" class="codepen">See the Pen <a href="http://codepen.io/gregh/pen/zNzvOm/">The Bluesman - You Can Play The Blues (Web Audio API)</a> by Greg Hovanesyan (<a href="http://codepen.io/gregh">@gregh</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
        </div>
        
    </article>
</div>

<a href="http://codepen.io/gregh/pen/zNzvOm">Blues Demo</a>